@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Italiana&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    margin: 0;
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
}
h1 {
    font-family: 'Italiana', sans-serif;
    font-size: 30px;
    color:rgb(255, 255, 255)}
h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: 'Italiana', sans-serif;
    font-size: 25px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.horizontal-line {
    display: flex;
}

.horizontal-line h2 {
    margin: 20px;
}

a {
    text-decoration: none;
    font-family: 'Italiana', sans-serif;
    color: white;
    font-size: 20px;
}

a:hover {
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}